.env

node_modules

# Built data -- this is kept as make cache of sorts, but we don't want it in git
data/*
# Exception: books.csv is checked in (slow to regenerate from Google Books API)
!data/books.csv
